<br>
<div class="row">
  <div class="col-sm-12 text-center">
    <div class="answer">
      <p><%= @question %></p>
      <p>-you</p>
    </div>

    <div class="answer">
      <p><%= @answer %></p>
      <p>-coach</p>
    </div>
  </div>
</div>
<br>
<p class="text-center"><strong><%= link_to 'Ask a new question', ask_path %></strong></p>

