<br>
<p class="text-center">Ask your coach anything:</p>
<div class="row">
  <div class="col-sm-12 text-center">
    <form class="simple-form-control" action="/answer" method="get">
      <input type="text" name="question" placeholder="">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
