// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 // Defining a variable
 $gray: #F4F4F4;

body {
   background: $gray; // Using this variable
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: #FE5F55;
}

a:hover {
  text-decoration: none;
  color: #e64137;
}

.text-center {
  text-align: center;
}

// answer

.answer {
  padding: 16px;
  background-color: white;
}




// form

.simple-form-control {
  position: relative;
}


// btn

.btn-flat {
  color: #FCF7F8;
  padding: 8px 24px;
  border-radius: 20px;
  background: #05BAFF;
  display: inline-block;
}

.btn-flat:hover {
  background: #05a7e6;
  color: #FCF7F8;
}
